{#
/**
 * @file
 * Tip of the day block.
 */
#}
<aside class="mybg-help-tip" role="note">
  <span class="mybg-help-tip__badge">Порада дня</span>
  <p class="mybg-help-tip__text">{{ text }}</p>
  <a href="{{ url }}" class="mybg-help-tip__link">Докладніше →</a>
</aside>
