{#
/**
 * @file
 * Fallback when module doc is missing.
 */
#}
<div class="mybg-help-fallback">
  <h1>Довідка: {{ module_label }}</h1>
  <p>Стаття для цього розділу готується. Перегляньте <a href="{{ encyclopedia_url }}">енциклопедію</a> або <a href="{{ center_url }}">центр допомоги</a>.</p>
</div>
