{#
/**
 * @file
 * Floating contextual help button.
 */
#}
<a href="{{ url }}" class="mybg-help-fab" title="Довідка: {{ label }}" aria-label="Довідка по розділу {{ label }}">
  <span aria-hidden="true">?</span>
</a>
