{#
/**
 * @file
 * Template for the main page — footer at bottom when content is short.
 */
#}
{% set page_attributes = attributes ?: create_attribute() %}
{% set
  page_classes = [
    'page',
  ]|merge(page_utility_classes ?: [])
%}

<div {{ page_attributes.addClass(page_classes) }}>
	{% block page_navigation %}
		{% include 'mybg_radix:page-navigation' %}
	{% endblock %}

  {% block page_content %}
    {% set page_main_utility_classes = page_main_utility_classes ?: ['py-5'] %}
    {% set page_header_container_utility_classes = page_header_container_utility_classes ?: ['mb-3'] %}

    {% include 'radix:page-content' with {
      page_main_utility_classes,
      page_header_container_utility_classes,
    }%}
  {% endblock %}

	{% block page_footer %}
		{% include 'mybg_radix:page-footer' %}
	{% endblock %}
</div>
